@import '../components/tableComponent/tableComponent.scss';
@import '../components/sidebarComponent/sidebarComponent.scss';

#root, .app {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: row;

    .sidebar-container {
        background: #292a2d
    }

    .content-container {
        h2 {
            text-align: center;
        }
          
        .select-container {
            margin: 5px;
        }
        
        .select-container select {
            margin-left: 5px;
        }
    }
}